html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.header {
  min-height: 740px;
  background-image: url(./figmaImg/logoBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 112px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 60px;
  height: 60px;
}

.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

:root {
  --accent-color: #F7654A;
  --gray-color: #C4C4C4;
  --white-color: white;
  --dark-color: #404149;
}

.h1 {
  max-width: 734px;
  margin: 0 auto 17px;
  line-height: 95px;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.h4 {
  font-weight: 400;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  max-width: 734px;
  height: 22px;
  color: var(--white-color);
}

@media screen and (max-width: 380px) {
  .h1 {
    font-size: 46px;
    line-height: 64px;
  }

  .h4 {
    font-size: 24px;
  }
}



.about {
  padding-top: 250px;
  position: relative;
  min-height: 1080px;
}

.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F7F7F7;
  max-width: 1110px;
  min-height: 300px;
  width: 100%;
  padding: 57px 130px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.about__grid-item {
  text-align: center;
  width: 190px;
}

.about__h4 {
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 3px;
}

.about__h5 {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.about__p {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #999;
}

@media screen and (max-width: 1280px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .info {
    position: relative;
    padding: 30px 0;
  }

  .about__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.about__flex {
  display: flex;
}

.about__flex-item {
  margin-right: 30px;
}

.about__flex-item:last-child {
  margin-right: 0;
}

.about__flex-item {
  max-width: 350px;
}

.project-h2 {
  text-align: center;
  margin-bottom: 50px;
}

.project-img {
  margin-bottom: 45px;
}

.line {
  background-color: var(--accent-color);
  width: 56px;
  height: 6px;
  margin-bottom: 15px;
}

.project-h3 {
  color: var(--dark-color);
  margin-bottom: 14px;
}

.project-p {
  color: #999;
}


.text-h2 {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.text-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  .about {
    padding: 450px 15px 110px 15px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .about__flex {
    flex-direction: column;
    align-items: center;
  }

  .about__flex-item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about__flex-item:last-child {
    margin-bottom: 0;
  }
}





.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 40px;
}

.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-left {
  color: var(--white-color);
}

.request-h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
  line-height: 71px;
}

.request-h5 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #fff;
}

.request-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #000;
  padding: 14px 30px;
  margin-top: 24px;
}

.request-img {
  margin-right: 15px;
}

@media screen and (max-width: 1280px) {
  .request {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .request__flex {
    flex-wrap: wrap;
  }
}




.services {
  padding: 150px 0;
}

.section__h2,
.services__h4 {
  color: black;
  text-align: center;
}

.section__h2 {
  margin-bottom: 54px;
}

.services__h4 {
  max-width: 172px;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 87px;
  margin-right: 91px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.services__item {
  background-color: #f7f7f7;
  padding: 59px 0;
  width: 350px;
}

.services__icon {
  margin: 0 auto 22px;
}

@media screen and (max-width: 1280px) {
  .services {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .services__item {
    width: 100%;
  }

  .services__h4 {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}



/* portfolio */

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}

@media screen and (max-width: 1280px) {
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .portfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* question */

.question {
  padding-top: 150px;
  padding-bottom: 111px;
}

.question .section__h2 {
  margin-bottom: 50px;
}

.question-h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 21px;
}

.question-h3.open::before,
.question-h3.closed::before {
  content: "";
  margin-right: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("./figmaImg/Polygon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.question-h3.open::before {
  transform: rotate(-90deg);
}

.question-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999;
  margin-bottom: 40px;
  max-width: 730px;
}

.question-h3.closed {
  margin-bottom: 33px;
}

.question-h3.closed+.question-p {
  display: none;
}

@media screen and (max-width: 1280px) {
  .question {
    padding-left: 15px;
    padding-bottom: 110px;
  }
}

/* PARTNERS */

.partners {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: var(--dark-color);
}

.partners__h2 {
  text-align: center;
  color: white;
  margin-bottom: 49px;

}

.partners__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__item {
  max-width: 170px;
  margin-right: 64px;
  margin-bottom: 20px;

}

.partners__item:nth-child(5n) {
  margin-right: 0;
}

@media screen and (max-width: 1280px) {
  .partners__flex {
    justify-content: center;
  }
  .partners__item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .partners__item:nth-child(5n) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* REVIEW */

.review {
  padding: 150px 0 145px;
}

.reviews__h2 {
  text-align: center;
  margin-bottom: 55px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
}

.review__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3 , 1fr);
}

.review__card {
  background: #f7f7f7;
  padding: 30px;
  margin-bottom: 34px;
}

.review__quotes {
line-height: 1;
font-weight: 700;
font-size: 96px;
text-transform: uppercase;
color:var(--accent-color);
margin-bottom: -40px;
}

.text-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  line-height: 1.5;
  color: #999;
}

.review-text-accent {
  color:var(--accent-color);
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1280px) {
  .review {
    padding: 100px 15px;
  }
  .review__grid {
    grid-template-columns: repeat(2 , 1fr);
  }
}


@media screen and (max-width: 768px) {
  .review__grid {
    grid-template-columns: repeat(1 , 1fr);
  }
}
