html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.header {
  min-height: 740px;
  background-image: url(./figmaImg/logoBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 112px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 60px;
  height: 60px;
}

.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

:root {
  --accent-color: #F7654A;
  --gray-color: #C4C4C4;
  --white-color: white;
  --dark-color: #404149;
}

.h1 {
  max-width: 734px;
  margin: 0 auto 17px;
  line-height: 95px;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.h4 {
  font-weight: 400;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  max-width: 734px;
  height: 22px;
  color: var(--white-color);
}

/* ABOUT */

.about {
  padding-top: 250px;
  position: relative;
  min-height: 1080px;
}

.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F7F7F7;
  max-width: 1110px;
  min-height: 300px;
  width: 100%;
  padding: 57px 130px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.about__grid-item {
  text-align: center;
  width: 190px;
}

.about__h4 {
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 3px;
}

.about__h5 {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.about__p {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #999;
}


.about__flex {
  display: flex;
}

.about__flex-item {
  margin-right: 30px;
}

.about__flex-item:last-child {
  margin-right: 0;
}

.about__flex-item {
  max-width: 350px;
}

.project-h2 {
  text-align: center;
  margin-bottom: 50px;
}

.project-img {
  margin-bottom: 45px;
}

.line {
  background-color: var(--accent-color);
  width: 56px;
  height: 6px;
  margin-bottom: 15px;
}

.project-h3 {
  color: var(--dark-color);
  margin-bottom: 14px;
}

.project-p {
  color: #999;
}


.text-h2 {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.text-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* REQUEST */

.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 40px;
}

.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-left {
  color: var(--white-color);
}

.request-h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
  line-height: 71px;
}

.request-h5 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #fff;
}

.request-btn {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #000;
  padding: 14px 30px;
  margin-top: 24px;
}

.request-img {
  margin-right: 15px;
}

/* SERVICES */

.services {
  padding: 150px 0;
}

.section__h2,
.services__h4 {
  color: black;
  text-align: center;
}

.section__h2 {
  margin-bottom: 54px;
}

.services__h4 {
  max-width: 172px;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 87px;
  margin-right: 91px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.services__item {
  background-color: #f7f7f7;
  padding: 59px 0;
  width: 350px;
}

.services__icon {
  margin: 0 auto 22px;
}


/* portfolio */

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}


/* question */

.question {
  padding-top: 150px;
  padding-bottom: 147px;
}

.question .section__h2 {
  margin-bottom: 50px;
}

.question-h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 21px;
}

.question-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999;
  margin-bottom: 40px;
  max-width: 730px;
}

/* PARTNERS */

.partners {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: var(--dark-color);
}

.partners__h2 {
  text-align: center;
  color: white;
  margin-bottom: 49px;

}

.partners__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__item {
  max-width: 170px;
  margin-right: 64px;
  margin-bottom: 20px;

}

.partners__item:nth-child(5n) {
  margin-right: 0;
}

/* REVIEW */

.review {
  padding: 150px 0 145px;
}

.reviews__h2 {
  text-align: center;
  margin-bottom: 55px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
}

.review__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3 , 1fr);
}

.review__card {
  background: #f7f7f7;
  padding: 30px;
  margin-bottom: 34px;
}

.review__quotes {
line-height: 1;
font-weight: 700;
font-size: 96px;
text-transform: uppercase;
color:var(--accent-color);
margin-bottom: -40px;
}

.text-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  line-height: 1.5;
  color: #999;
}

.review-text-accent {
  color:var(--accent-color);
  letter-spacing: 0.03em;
}

/* Contacts */

.contacts {
  padding-top: 97px;
  padding-bottom: 150px;
}
.contacts-h2 {
  margin-bottom: 60px;
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 30px;
}
.contacts__grid-item-img {
  display: flex;
  justify-content: center;
}
.contacts__grid-item {
  text-align: center;
}
.contacts-h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #999;
  margin-bottom: 22px;
  margin-top: 14px;
}
.text-h3 > a {
  text-decoration: none;
  color: inherit;
}
.contacts__grid-item:last-child{
  margin-bottom: 27px;
}
.contact-accent{
  text-decoration: none;
text-align: center;
color:var(--accent-color);
}

#lastImg{margin-bottom: 15px;}
#last{margin-bottom: 19px;}

/* FOOTER */

.footer {
  padding: 29px 0 30px;
  background: var(--dark-color);
  height: 82px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer-p {
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 16px;
color: #fff;
}

@media screen and (max-width: 1280px) {
  .header__title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about {
    padding: 450px 15px 110px 15px;
  }
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .request {
    padding-left: 15px;
    padding-right: 15px;
  }
  .services {
    padding-left: 15px;
    padding-right: 15px;
  }
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .services__item {
    width: 100%;
  }
  .services__h4 {
    margin: 0 auto;
  }
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .question {
    padding-left: 15px;
    padding-bottom: 110px;
  }
  .partners__flex {
    justify-content: center;
  }
  .partners__item {
    margin-right: 10px;
    margin-left: 10px;
  }
  .partners__item:nth-child(5n) {
    margin-right: 10px;
    margin-left: 10px;
  }
  .review {
    padding: 100px 15px;
  }
  .review__grid {
    grid-template-columns: repeat(2 , 1fr);
  }
  .contacts__grid {
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
  }
  .contacts__grid-item {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
  .sidenav > a {
    padding: 0 16px;
  }
  .sidenav .user-view {
    padding: 16px 16px 0;
  }
}

@media screen and (max-width: 768px) {
  .info {
    position: relative;
    padding: 30px 0;
  }
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .about__flex {
    flex-direction: column;
    align-items: center;
  }
  .about__flex-item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .about__flex-item:last-child {
    margin-bottom: 0;
  }
  .request__flex {
    flex-wrap: wrap;
  }
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .review__grid {
    grid-template-columns: repeat(1 , 1fr);
  }
  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts__grid-item {
    margin: 20px 20px;
    border-style: ridge;
  }
}

@media screen and (max-width: 380px) {
  .h1 {
    font-size: 46px;
    line-height: 64px;
  }
  .h4 {
    font-size: 24px;
  }
}


/* Menu */
#slide-out a {
  color: var(--accent-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
ul#slide-out:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul#slide-out:not(.browser-default) > li {
  list-style-type: none;
}

.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}
.sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sidenav .collapsible {
  margin: 0;
}

.sidenav li {
  float: none;
  line-height: 48px;
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
  color: #fff;
}

.sidenav li > a.btn-flat {
  color: #343434;
}

.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
  margin: 8px 0 0 0;
}

.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.sidenav .subheader:hover {
  background-color: transparent;
}

.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.sidenav .user-view > a {
  height: auto;
  padding: 0;
}

.sidenav .user-view > a:hover {
  background-color: transparent;
}

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}
.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}


/* MODAL */

.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}

.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

/* GALLERY */

.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
  opacity: .8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}